body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    div:nth-child(1) > div:nth-child(1) > nav > div.search-button.align-icon {
        width: 200px;
    }
    div:nth-child(1) > div:nth-child(1) > nav > div.search-button.align-icon > span.search-text > span.search-keys
    {
        cursor: pointer;
        box-sizing: border-box;
        font-size: 0.6rem;
        padding: 0px 2px 0 6px;
        text-align: center;
        transform: translateY(4px);
    }
}
